version: '3'
services:

  postgres:
    image: "postgres:10.5-alpine"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=test
    volumes:
      - ./.docker/data/postgres:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5432:5432

  redis:
    image: "redis:3-alpine"
    volumes:
      - ./.docker/data/redis:/data
    ports:
      - 6379:6379

  nginx:
    image: nginx:1.12-alpine
    volumes:
      - ./configuration/nginx/ssl:/etc/nginx/ssl
      - ./configuration/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ${SITE_PATH}:/var/www/html
    ports:
      - 127.0.0.1:443:443
      - 127.0.0.1:80:80
    restart: always
    depends_on:
      - mail
      - redis
      - postgres

  php:
    build: configuration/php/.
    restart: always
    volumes:
      - ./configuration/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./configuration/php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ${SITE_PATH}:/var/www/html
    environment:
      PHP_XDEBUG_ENABLED: 1
      XDEBUG_CONFIG: "remote_host=host.docker.internal"

  mail:
    image: mailhog/mailhog
    ports:
      - 8025:8025
      - 1025:1025

